<div id="page_wrapper">
  <div id="portfolio_iamge">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Its Mr. Stick Figure</h1>
    <p>Devise includes some test helpers for controller and integration tests. In order to use them, you need to include the respective module in your test cases/specs.</p>
  </div>